
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    background-color: darkslateblue;
  }
  


h1 {
color: white;
text-align: center;
font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    }

#intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "photo description";
}

#selfportrait {
    grid-area: photo;
    max-width: 110%;
}

#intro p {
    grid-area: description;
    padding: 20px;
    background-color: slategrey;
    margin: 20px;
}

p {
 color: white;
 font-family: "Book Antiqua", "Palatino", serif;
}

section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "text img";
}

section img {
    grid-area: img;
    max-width: 150%;
}

.text {
    grid-area: text;
background-color: slategrey;
}



